* {
    margin: 0;
     padding: 0; 
     box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar {
    background: linear-gradient(to right, #000000, #0378ff);
    border-bottom: 1px solid rgba(248, 0, 0, 0.2);
}


.navbar .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #cc2e2e;
}

.logo {
     font-weight: 700;
      color: #2e78cc; 
      font-size: 1.5rem;
     }

.nav-links { 
    display: flex;
     align-items: center;
      gap: 30px;
     }

.btn-login {
    background: #2e78cc; 
    color: white; 
    border: none;
    padding: 10px 20px;
     border-radius: 25px;
    cursor: pointer;
     display: flex;
      align-items: center; 
      gap: 8px;
}

.hero {
    background: linear-gradient(to right, #587ad6, #2e78cc);
    color: white;
    padding: 80px 0 140px 0; 

}
.hero-imagen {
    display: flex;
    justify-content: center; /* Centra la imagen en su lado */
    align-items: center;
}

.hero-imagen img {
 
    width: 100%;           
    max-width: 450px;     
    height: auto;          
    
   
    filter: drop-shadow(0 10px 20px rgba(0,0,0,0.2)); 
}

.hero-grid { 
    display: grid;
     grid-template-columns: 1fr 1fr; 
     align-items: center;
     }

.hero-texto h1 { 
    font-size: 3.5rem;
     margin-bottom: 20px; 
    }

.hero-botones {
     display: flex; 
     gap: 15px; 
     margin-top: 25px; 
    }

.btn-principal {
    background: white;
     color: #2e78cc;
      border: 2px solid #000;
    padding: 12px 25px;
     border-radius: 50px; 
     font-weight: bold;
}

.btn-segundario {
    background: #f8f9fa;
     color: black;
      border: 2px solid #000;
    padding: 12px 25px; 
    border-radius: 50px;
    font-weight: bold;
    display: flex;
     align-items: center;
      gap: 10px;
}


.servicios-seccion { 
    background: #fdfdfd; 
    padding-bottom: 80px;
 }

.grid-servicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: -70px; 
}

.card {
    background: white;
     padding: 35px;
      border-radius: 15px;
    text-align: center;
     box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover { 
    transform: translateY(-10px); 
}

.card i {
     font-size: 2.5rem; 
     color: #2e78cc;
      margin-bottom: 15px; 
    }

.testimonios {
    padding: 100px 0; 
    background: #FDF5E6;
    text-align: center;
}